<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home page</h1>
    <h1>My name is {{name}} and my age is {{age}}</h1>
    <ul>
        {{#each data }}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</body>
</html>